body {
  font-family: $mainFont;
  font-size: 62.5%;
  color: $grey;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.1em;
  font-family: $mainFont;

  &.hail {
    font-weight: normal;
    font-family: $mainFont;
  }
}

p {
  font-size: 1.5em;
}

a {
  color: $darkBlue;
  &:hover {
    color: $darkBlue;
  }

  text-decoration: none;
}

hr {
  height: 1px;
  width: 80%;
  background-color: $mediumGrey;
  border: none;
  margin: 2rem auto;
}

.content {
  background-color: $bgLightGrey;
  margin-top: 2.5rem;
  padding: 0.1rem 1rem;
}

.btn {
  background-color: $darkBlue;
  border-color: $darkBlue;
  color: $white;
  border: solid 1px $darkBlue;
  padding: .5rem;
  font-size: 1rem;
  border-radius: .4rem;
  transition: all 300ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $orange;
    border-color: $orange;
    color: $white !important;
    outline: none;
    box-shadow: none;
  }

  &:active {
    background-color: $darkBlue;
    outline: none;
    box-shadow: none;
  }

  &.btn-outline-info {
    background-color: $white;
    border-color: $orange;
    color: $orange;
    border-color: $orange;

    &:hover {
      background-color: $orange;
    }

    &:active {
      background-color: $orange;
    }
  }
}



//LINHA DO TEMPO
.history-tl-container {
  padding-left: 2.2rem;
  margin: auto;
  display: block;
  position: relative;

  ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

    li {
      list-style: none;
      margin-left: -15px;
      min-height: 50px;
      border-left: 3px solid $darkBlue;
      padding: 0 0 50px 35px;
      position: relative;
      margin-bottom: -24px;

      &:last-child {
        border-left: 0;
        margin-left: -12px;
      }

      &::before {
        position: absolute;
        left: -32px;
        content: " ";
        border-radius: 500%;
        height: 60px;
        width: 60px;
        transition: all 500ms ease-in-out;
        background-color: $darkBlue;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 2rem;
      }

      &:hover::before {
        border-color: $orange;
        transition: all 1000ms ease-in-out;
      }

      .item-title {
        font-family: $condensed;
        font-size: 1.5rem;
        font-weight: bold;
        color: $darkBlue;
        line-height: 1.4rem;
      }

      .item-detail {
        font-size: .8rem;
      }

      &.user {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-userAccount.svg');
        }
      }

      &.mobile {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-mobile-branco.svg');
          background-size: 1.2rem;
        }
      }

      &.token {
        &::before {
          background-image: url('../img/icones-remoteid/ico_confeToken.svg');
        }
      }

      &.desktop {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-desktop.svg');
        }
      }

      &.ready {
        &::before {
          background-color: $orange;
          background-image: url('../img/icones-remoteid/ico_primeiroAcesso.svg');
        }
      }

      .collapse {
        label {
          display: inline-block;
          margin-bottom: .8rem;
        }

        .card-body {
          display: none;
          font-size: .5rem;
          overflow-y: hidden;
          background-color: $white;
          border: solid 1px $bgDarkGrey;
          border-radius: 10px;
          padding: 0 1rem;
        }

        input {
          display: none;

          &:checked~.card-body {
            display: block;
          }
        }
      }
    }
  }
}

.login {
  box-sizing: border-box;
  padding: 0 .5rem;
  margin: 2rem auto;
  color: $darkBlue;

  form {
    background-color: $white;
    box-sizing: border-box;
    padding: 1.8rem 1.3rem 0;
    margin-bottom: .6rem;

    label,
    input {
      box-sizing: border-box;
      display: block;
      font-size: .7rem;
      color: $darkBlue;
      width: 100%;
      margin-bottom: .2rem;
    }

    input[type=text],
    input[type=password] {
      border: none;
      box-shadow: none;
      outline: none;
      font-size: 1rem;
      border-bottom: solid 2px $mediumGrey;
      color: $grey;
      margin-bottom: 1rem;
    }
  }

  .rounded-icon {
    padding: 0;
    margin: 2rem 0 0;
    font-size: .8rem;

    li {
      list-style: none;
      min-height: 30px;
      padding: 0 0 50px 50px;
      position: relative;
      margin-bottom: -24px;

      &:last-child {
        padding-bottom: 1rem;
      }

      &::before {
        position: absolute;
        top: -11px;
        left: 0;
        content: " ";
        height: 40px;
        width: 40px;
        border-radius: 500%;
        border: solid 1px $mediumGrey;
        transition: all 500ms ease-in-out;
        background-color: $white;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 1rem;
      }

      &.rocket {
        &::before {
          background-image: url('../img/icones-remoteid/Icon-rocket-func-blue.svg');
        }
      }
      &.list {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-extrato.svg');
        }
      }
      &.cloud {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-cloud.svg');
          background-size: 1.2rem;
        }
      }
      &.info {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-help.svg');
          background-size: .9rem;
        }
      }
    }
  }
}