@import 'variables';
@import 'typography';

body {
  font-family: $mainFont;
  font-size:62.5%;
  color: $grey;
}

h1 { font-size: 3.1em; }
p { font-size: 1.6em; }

a {
  color: $darkBlue;
  &:hover {
    color: $darkBlue;
  }
  text-decoration: none;
}

.btn-outline-info {
  border-color: $orange !important;
  color: $orange !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: .4rem !important;

  &:hover {
    background-color: $orange !important;
    color: $white !important;
    outline: none !important;
    box-shadow: none !important;
  }

  &:active {
    background-color: $orange !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

//LINHA DO TEMPO
.history-tl-container {
  margin: auto;
  display: block;
  position: relative;

  ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;

    li {
      list-style: none;
      margin-left: 22px;
      min-height: 50px;
      border-left: 3px solid $darkBlue;
      padding: 0 0 50px 80px;
      position: relative;

      &:last-child {
        border-left: 0;
        margin-left: 21px;
      }

      &::before {
        position: absolute;
        left: -62px;
        top: -5px;
        content: " ";
        border-radius: 500%;
        height: 120px;
        width: 120px;
        transition: all 500ms ease-in-out;
        background-color: $darkBlue;
        background-position: center center;
        background-repeat: no-repeat;
      }

      &:hover::before {
        border-color: $orange;
        transition: all 1000ms ease-in-out;
      }
      
      .item-title {
        font-family: $condensed;
        font-size: 1.5rem;
        font-weight: bold;
        color: $darkBlue;
      }

      .item-detail {
        font-size: .8rem;
      }

      &.user {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-userAccount.svg');
        }
      }

      &.mobile {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-mobile-branco.svg');
        }
      }

      &.token {
        &::before {
          background-image: url('../img/icones-remoteid/ico_confeToken.svg');
        }
      }

      &.desktop {
        &::before {
          background-image: url('../img/icones-remoteid/Ico-desktop.svg');
        }
      }

      &.ready {
        &::before {
          background-color: $orange;
          background-image: url('../img/icones-remoteid/ico_primeiroAcesso.svg');
        }
      }

      .card-body {
        font-size: .5rem;
      }
    }
  }
}




