// xs — Extra Small Screens
@media (min-width: 320px) {}

// s — Small Screens
@media (min-width: 640px) {
  .content {
    margin-top: 0;
  }

  .extend {
    max-width: 1366px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem 5rem;
  }

  //HEADER E MENU
  .nav-desktop {
    display: block;

    &.extend {
      padding: 0;
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: .6rem 1rem;

      &.p-0 {
        padding: 0;
      }

      .client-info {
        margin-right: 2rem;
      }
    }

    a {
      &:hover {
        text-decoration: none;
      }

      .cta-logo {
        font-family:$condensed;
        font-size: 1.3rem;
        line-height: 1.6rem;
        margin: 0 1rem;

        b {
          color: $orange;
        }
      }
    }

    .navbar {
      background-color: $bgDarkGrey;

      .nav-main {
        display: flex;
        margin: 0;
      }
    }

    .hail,
    .cliName {
      font-size: 1.2rem;
      margin-bottom: 0;
      text-align: right;
    }

    .cliMail {
      font-size: .7rem;
      margin-top: 0;
      
    }

    .nav-main {
      .nav-item {
        font-size: 1rem;
        margin-left: 5rem;

        &:first-child {
          margin-left: 0;
        }

        .nav-link {
          background-size: 1rem;
          padding-left: 1.5rem;

          &:hover {
            text-decoration: underline;
          }

          &.suporte {
            background-size: .8rem;
          }
        }
      }
    }

    .cliConfig {
      font-size: .5rem;

      a:hover {
        text-decoration: underline;
      }

      .my-account {
        margin: 0 2rem 0 0;
        padding: 0;

        a:first-child {
          font-weight: bold;
        }
      }
    }
  }

  .nav-mobile {
    display: none;
  }

  //LINHA DO TEMPO
  .history-tl-container {

    ul.tl {

      li {
        margin-left: 22px;
        padding: 0 0 50px 80px;

        &:last-child {
          margin-left: 25px;
        }

        &::before {
          left: -62px;
          top: -5px;
          height: 120px;
          width: 120px;
          background-size: unset;
        }

        .item-title {
          font-family: $condensed;
          font-size: 1.5rem;
          font-weight: bold;
          color: $darkBlue;
        }

        &.mobile {
          &::before {
            background-size: unset;
          }
        }
      }
    }
  }

  //TELA DE LOGIN
  .login {
    display: flex;
    align-content: center;
    align-items:flex-end;
    justify-content: center;

    hr {
      margin: 0 6rem 3rem;
      width: 1px;
      height: 13rem;
      width: 1px;
    }
  }
}

// m — Medium Screens
@media (min-width: 960px) { }

// l — Large Screens
@media (min-width: 1200px) { }

// xl — Extra Large Screens
@media (min-width: 1600px) {}