// FONT TYPES
@font-face {
  font-family: 'Open Sans', sans-serif;
}
 @font-face {
   font-family: 'Open Sans Condensed', sans-serif;
 }

$mainFont: 'Open Sans', sans-serif;

$condensed: 'Open Sans Condensed', sans-serif;