 @font-face {
  font-family: mainFont;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
}

@font-face {
  font-family: condensed;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
}

$mainFont: 'Open Sans', sans-serif;
$condensed: 'Open Sans Condensed', sans-serif;

.mainFont {
  font-family: $mainFont;
}

.condensed {
  font-family: $condensed;
}

.regular {
  font-weight: normal;
}

body {
  font-family: $mainFont;
}

h1 {
  font-size: 2rem;
  color: $darkBlue;
  font-family: $condensed;
}

h2 {
  font-size: 1.5rem;
  color: $darkBlue;
  font-family: $condensed;
}

h3 {
  font-size: 1.2rem;
  color: $darkBlue;
  font-family: $condensed;
}

h4 {
  font-size: 1rem;
  color: $darkBlue;
  font-family: $condensed;
}

h5 {
  font-size: .8rem;
  color: $darkBlue;
  font-family: $condensed;
}

h6 {
  font-size: .6rem;
  color: $darkBlue;
  font-family: $condensed;
}