
// Font Types
@font-face {
    font-family: 'Open Sans', sans-serif;
}

$mainFnt: 'Open Sans', sans-serif;

// COLOR PALETTE
$darkBlue: #002a4e;
$orange: #FF6600;
$grey: #515151;

// TEXT-COLORS
.color-darkBlue {
    color: $darkBlue;
}

.color-orange {
    color: $orange;
}

.color-grey {
    color: $grey;
}

body {
    font-family: $mainFnt;
    background-color: $orange;
}
